@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body{
  font-family:'Pretendard-Regular', sans-serif;
  background:#000;
}
.App{
  padding:3vw 7vw;
  color:#fff;
}
h1{
  font-size:5em;
}
p{
  margin:0;
}
.main{
  height:100vh;
  padding-top:30em;
  box-sizing:border-box;
}
.link-bar{
  padding:2em 5em;
  position:fixed;
  top:0;
  left:0;
}
.link-bar a{
  color:#fff;
  text-decoration:none;
  padding-right: 5vw;
  font-size: 1.5em;
  opacity:0.5;
}
.link-bar a.active{
  opacity:1;
  transition:all 1.5s ease;
}
.about{
  display:flex;
  flex-direction: column;
  gap:0.2em;
}
.about strong{
  font-size:2.4em;
}
.about b{
  font-size:1.9em;
}
.about p{
  font-size:1.2em;
  line-height:1.3em;
}