@import "./mixin";

body{
  width:100dvw;
  height:100dvh;
}
.App{
  padding:3vw 10vw;
  color:#fff;
}
h1{
  font-size:5rem;
}
p{
  margin:0;
}
h2{
  font-size:2.3rem;
  color:#fff;
}
.link-bar{
  position:fixed;
  left:2vw;
  top:50%;
  transform:translateY(-50%);
  display:flex;
  flex-flow:column;
  justify-content:center;
  height:100vh;
  gap:2vw;
  opacity:0;
  transition:opacity 1.0s ease;
  pointer-events:none;
  &.active{
    opacity:1;
    transition:opacity .5s ease;
    pointer-events: auto;
  }
  a{
    color:#fff;
    text-decoration:none;
    padding-right: 5vw;
    font-size: 1.5rem;
    opacity:0.5;
  }
}
.wrap{padding-bottom:7rem;}
@include laptopToTablet{
  .App{
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
    padding:3vw 5vw;
    .link-bar{
      top: 0;
      left: 0;
      display: block;
      transform: translate(0, 0);
      height: 9vh;
      width: 100vw;
      text-align: center;
      z-index: 5;
      background:#22102ecf;
      a{
        display:inline-block;
        font-size:2rem;
        padding:2rem 1rem;
      }
    }
    h2{
      font-size:2.8rem;
      padding:3rem 0;
    }
  }
}
@include mobile{
  .App{
    padding:3vw 6vw;
    h2{
      font-size:2.1rem;
    }
    .link-bar{
      top:0;
      left:0;
      display: block;
      transform: translate(0, 0);
      height:8vh;
      width:100vw;
      text-align: center;
      z-index: 5;
      background:#22102ecf;
      a{
        display:inline-block;
        font-size:1.2rem;
        padding:2rem 1rem;
      }
    }
  }
}