@import "./mixin";

.project{
  padding-left:8rem;
  strong{
    font-weight:normal;
    display:block;
  }
  h2{
    &.tit{
      display:inline-block;
      margin:5rem 1.5rem 8rem 0;
    }
  }
  .projectBox{
    display:flex;
    gap:3rem;
    align-items:center;
    justify-content:space-between;
    margin-bottom:3rem;
    a{
      font-size:1rem;
      color:#fff;
      text-decoration:none;
      width:11rem;
      display: inline-block;
      text-align:center;
      &:hover{
        transform:scale(1.1);
        transition:size .2s ease;
      }
    }
    h3{
      font-size:1.8rem;
      width: 40%;
    }
    h4{
      a{
        font-size:1.8rem;
      }
    }
    .imgBox{
      width:50%;
      text-align:center;
      img{
        width:10rem;
      }    
    }
    ul{
      width:48%;
      list-style-type:circle;
      li{
        font-size:1.2rem;
        margin-bottom:0.5rem;
        &.icon{
          a{
            font-size:1.2rem;
          }
        }
        a{
          width:5.8rem;
        }
      }
    }
    .icon{
      img{
        filter:invert(1);
        width: 1.4rem;
        margin-bottom: -0.3rem;
        margin-left: 0.2rem;
      }
    }
  }
}

@include laptopToTablet{
  .project{
    padding-left:0;
    strong{
      font-size:1.5rem;
    }
    h3{
      font-size:1.3rem;
    }
    .projectBox{
      ul{
        li{
          &.icon{
            a{
              font-size:1.2rem;
            }
          }
        }
      }
    }
  }
}
@include mobile{
  .project{
    padding-left:0;
    .subtit{
      font-size:0.8rem;
    }
    h3{
      font-size:1rem;
      text-align:left;
      margin-bottom:5rem;
      &::before{
        content:':: ';
        display:inline-block;
        margin-right:5px;
      }
    }
    .projectBox{
      display:block;
      padding-bottom:3rem;
      border-bottom:1px dotted #fff;
      h4{
        a{
          font-size:1.5rem;
          width:100%;
        }
      }
      .imgBox{
        width:100%;
        img{
          width:11rem;
        }
      }
      a{
        margin:1rem 0;
        text-align:center;
        width:100%;
      }
      ul{
        width:100%;
        li{
          font-size:1rem;
          &.icon{
            a{
              margin:0 0 0 -4px;
              font-size:1.1rem;
            }
            img{
              width:1.2rem;
            }
          }
        }
      }
      &.monami{
        .imgBox{
          img{
            position:static;
            transform:translate(0,0);
          }
        }
      }
    }
  }
}